body {
    font-family: Arial, sans-serif;
    font-size: large;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 200px;
    background-color: black;
    padding: 20px;
    border-right: 1px solid grey;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    border-radius: 20px;
    margin: 10px 0;
    padding: 5px 10px;
}

.sidebar ul li:hover {
    background-color: #222222;
    cursor: pointer;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.sidebar ul li a i {
    margin-right: 10px;
}

.sidebar ul li:hover a {
    font-weight: 500;
}

main {
    flex: 1;
    background-color: black;
    color: white;
}

.nav-link span {
    padding-left: 15px;
}

.btn {
    background-color: white;
    color: black;
}

.btn:hover {
    cursor: pointer;
}