.search-container {
    width: 97%;
    margin-top: 1%;
    margin-left: 1.4%;
    margin-right: 0%;
  }

  .search-container form > fieldset > div {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 5px; /* Espacio entre el input y el botón */
}

  .search-input {
    flex: 1;
    min-width: 0;
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #ffffff;
    border-radius: 15px;
    width: 100%;
    transition: border-color 0.3s ease;
  }
  
  .search-input:focus {
    border-color: #ffffff;
    outline: none;
  }
  
  .search-icon svg{
    flex: 1;
    min-width: 0;
    display: flex;
    width: 1em; 
    height: 1.3em; 
}

  .search-button {
    padding: 10px 20px;
    font-family: Arial, sans-serif;
    font-size: large;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .search-button:hover {
    background-color: #464646;
  }
  
  .search-results {
    margin-top: 30px;
    text-align: center;
  }
  
  .search-results .result-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .search-results .result-item:last-child {
    border-bottom: none;
  }

  fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

.search-results {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

.user-card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 200px;
}

.search-form {
  flex-direction: row;
}
