<div class="column_menu_option" onclick="javascript:toggleSelection(this);">
    <p>Cambiar informacion de cuenta</p>
    <div class="content">
        <div class="column_menu_option" onclick="javascript:toggleSelection(this);">
            <p>Editar nombre</p>
            <div class="content">
                <form>
                    <input type="text" value="{{ name }}">
                    <button type="submit" class="btn">Guardar</button>
                </form>
            </div>
        </div>
        <div class="column_menu_option" onclick="javascript:toggleSelection(this);">
            <p>Editar fecha de nacimiento</p>
            <div class="content">
                <form>
                    <p>dia</p>
                    <input type="number" value="{{ birth.0 }}">
                    <p>mes</p>
                    <input type="number" value="{{ birth.1 }}">
                    <p>año</p>
                    <input type="number" value="{{ birth.2 }}">
                    <button type="submit" class="btn">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="column_menu_option" onclick="javascript:toggleSelection(this);">
    <p>Cambiar contraseña</p>
    <div class="content">
        <form method="post" action="{% url 'change_password' %}">
            {% csrf_token %}  <!-- Token CSRF para protección -->
            <p>Contraseña actual</p>
            <input type="password" name="old_password" required>
            <p>Nueva contraseña</p>
            <input type="password" name="new_password1" required>
            <p>Confirmar nueva contraseña</p>
            <input type="password" name="new_password2" required>
            <button type="submit" class="btn">Guardar</button>
        </form>
    </div>
</div>
<div class="column_menu_option" onclick="javascript:toggleSelection(this);">
    <p>Eliminar cuenta</p>
    <div class="content">
        <form method="post" action="{% url 'delete_account' %}">
            {% csrf_token %}  <!-- Token CSRF para protección -->
            <p>Escribe tu contraseña</p>
            <input type="password" name="password" required>
            <button type="submit" class="btn">Eliminar cuenta</button>
        </form>
    </div>
</div>