<div class="post_container">
    <div>
        <div class="user_image">
            {% include 'icons/profile.html' %}
        </div>
    </div>
    <div class="content_post_container">
        <div class="data_user_content_post_container">
            <p class="name" data-userID="{{ tweet.user.user_id }}">{{ tweet.name }}</p>
            <a href="{% url 'profile_auth' %}{{ tweet.user_id }}" class="username">@{{ tweet.user_name }}</a>
            <p class="delta_created_time">{{ tweet.delta_created }}</p>
        </div>
        <div class="message_content_post_container">
            <p>{{ tweet.content }}</p>
        </div>
        <div class="interactions_content_post_container">
            <div>
                {% include 'icons/comment.html' %}
                <p class="comments_count">{{ tweet.comments_count }}</p>
            </div>
            <div>
                {% include 'icons/repost.html' %}
                <p class="reposts_count">{{ tweet.retweet_count }}</p>
            </div>
            <div>
                {% include 'icons/like.html' %}
                <p class="likes_count">{{ tweet.like_count }}</p>
            </div>
        </div>
    </div>
</div>