<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>copyX</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script defer src="{% static 'js/base.js' %}"></script>
</head>
<body>

    <div class="container">
        <nav class="sidebar">
            <ul>
                <li>
                    <a href="/" class="nav-link">
                        {% include 'icons/home.html' %}
                        <span>Home</span>
                    </a>
                </li>
                <li>
                    <a href="/explore" class="nav-link">
                        {% include 'icons/explore.html' %}
                        <span>Explorar</span>
                    </a>
                </li>
                <li>
                    <a href="/profile" class="nav-link">
                        {% include 'icons/profile.html' %}
                        <span>Perfil</span>
                    </a>
                </li>
                <li>
                    <a href="/settings" class="nav-link">
                        {% include 'icons/settings.html' %}
                        <span>Configuraciones</span>
                    </a>
                </li>
            </ul>
        </nav>

        <main id="content">
            {% include content_template %}
        </main>
    </div>

</body>
</html>